body
{
	background-image: url("https://cutewallpaper.org/21/los-santos-wallpaper/This-is-real-life.-An-awesome-photo-from-Los-santos-shot-by-.jpg");
	color:black;
	font-family: "Lato",sans-serif;
	font-size:20px;
	margin:0 !important;
}

.wrapper
{
	width:100%;
	
}



.logo
{
	margin-left:auto;
	margin-right:auto;
	hight:60px;
}

.container
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
	padding: 0;
	margin-bottom: 25px;
}

.container2
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: left;
	padding: 0;
	margin-bottom: 25px;
}

#logoL
{
	float:left;
	padding:10px;
	widht:50px;
	text-align:center;
}

#logoS
{
	float:left;
	padding:10px;
}

#logoP
{
	float:right;
	padding-top:45px;
	text-align:right;
	padding-bottom:45px;
}

.nav
{
	text-align: center;
}

.foother
{
	text-align: center;
	padding:35px;
	color:black;
	font-size:15px;
	clear: both;
	background-color:#00CC33;
}

.biglogo
{
	text-align: center;
}

.przycisk
{
	text-align: center;
}

.postcard
{
	display: inline-block;
	width: 460px;
	text-align: center;
	padding: 5px;
	opacity: 0.7;
}

.postcard1
{
	display: inline-block;
	width: 400px;
	text-align: center;
	padding: 5px;
	background-color:#99FF99;
	margin:40px;
	opacity: 0.7;
}

.postcard2
{
	display: inline-block;
	width: 400px;
	text-align: center;
	padding: 5px;
	background-color:#99FF99;
	margin-left:295;
	opacity: 0.7;
}

.postcard p
{
	padding: 5px;
	margin-top: 10px;
}

.photo5
{
	width: 450px;
	height: 278px;
	overflow: hidden;
}

.photo5 img
{
	transition: all 0.5s ease-in-out;
}

.photo5:hover img
{
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}

input[type=submit]
{
	width: 300px;
	background-color:#00CC33;
	font-size:20px;
	color: black;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:hover
{
	background-color:#CCFF00;
}

h1
{
	text-align:center;
	color: #FFFF00;
}

p
{
	color:black;
	background-color:#00CC33;
}

ol
{
	padding:0;
	margin:0;
	list-style-type:none;
	font-size:18px;
	height:35px;
	line-height:200%;
	display:inline-block;
}

a
{
	color:#CC6600;
	text-decoration:none;
	display:block;
}

a:hover
{
	color:#FFFF00;
}

li a
{
	color:#FFFF00;
	text-decoration:none;
	display:block;
}

li:hover > a
{
	color:#00CC33;
}

ol a
{
	color:#FFFF00;
	text-decoration:none;
	display:block;
}

ol >li
{
	float:left;
	width:150px;
	height:40px;

}

ol > li:hover > a
{
	color:#00CC33;
}

ol > li > ul
{
	list-style-type:none;
	padding:0;
	margin:0;
	height:40px;
	display:none;
}

ol > li:hover > ul
{
	display:block;
}



ol > li > ul > li
{
	background-color:white;
	position:relative;
	z-index:100;
}

ol > li > ul > li:hover > a
{
	color:black;
}
